*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false
Gestion_turnos/static/** linguist-vendored
Gestion_turnos/templates/** linguist-vendored
*.py linguist-language=Python

