# Ignorar archivos estáticos y de templates en el cálculo del lenguaje
Gestion_turnos/static/** linguist-vendored
Gestion_turnos/templates/** linguist-vendored

# Forzar que los .py cuenten como Python
*.py linguist-language=Python
