{% extends 'turnos/base_turnos.html' %}{% block content %}


<h3 class="">Registrar Turno</h3>


<div class="d-block registro-turnos ">


    <form action="{% url 'registro_turnos' %}" method="POST" autocomplete="off">
        {% csrf_token %} Fecha {{ form }} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-danger my-3" role="alert">


                {{ message }}
            </div>



            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <button type="submit" class="btn btn-success mx-5">Registrar</button>
    </form>
</div>


<table class="table text-center">

    <thead>
        <tr>
            <h3 class="text-center">Horarios Disponibles</h3>
        </tr>

        <tr>
            <th scope="col">Fecha</th>

            <th scope="col">Hora</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>


        <!-- 'pendiente', _('El turno se encuentra pendiente')),
       ('finalizado', _('El turno se encuentra finalizado')),
       ('cancelado', _('El turno se encuentra cancelado')), -->

        {% for t in turnos_disponibles %}
        <tr scope="row">

            <td>{{t}}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock content %}