{% extends 'turnos/base_turnos.html' %} {% block content %}


<div class="row">

    <div class="col-12">
        <h3>Lista de usuarios registrados</h3>


    </div>

</div>


<div class="row align-center ml-auto mt-5">

    <div class="col-12 my-4">
        <form action="" method="GET">
            <label for="dni" class="mx-3"><i class="fas fa-search"></i> Buscar DNI</label>
            <input type="text" value="" name="dni" id="dni">
            <button type="submit" class="btn-sm btn-success my-3">Buscar DNI</button>
        </form>
    </div>
    <!--div class="col-12 my-0">
        <form action="" method="GET">
            <label for="nombre" class="mx-3">Buscar nombre</label>
            <input type="text" value="" name="nombre" id="nombre">
            <button type="submit" class="btn-sm btn-success my-3">Buscar nombre</button>
        </form>
    </div-->

</div>

<table id="example" class="table text-center tabla-turnos mt-5">

    {% if errors %}
    <div class="alert alert-danger my-4" role="alert">
        {{errors}}</div> {% endif %}


    <thead>
        <tr>

            <th scope="col">DNI</th>
            <th scope="col">Nombre usuario</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>

        {% if count == 0 %}
        <tr scope="row">

            <td colspan="12">
                <div class="alert alert-warning" role="alert">
                    Por favor ingrese un DNI para buscar
                </div>
            </td>

        </tr>
        {% endif %}
        
        {% for u in usuarios %}
        <tr scope="row">

            <td>{{u.username}}</td>
            <td>{{u.first_name}} {{u.last_name}}</td>
            <td>
                {% if u.perfil.bloqueado == True %}
                <p>bloqueado</p>
                {% else %}
                <p>desbloqueado</p>
        {% endif %}
            </td>



            <td>

                {% if u.perfil.bloqueado == True %}
                <button type="button" class="btn-sm btn-warning " data-toggle="modal" data-target="#desbloquearusuario"
                    data-id={{u.id}}>
                    Desbloquear
                </button> {% else %}
                <button type="button" class="btn-sm btn-danger " data-toggle="modal" data-target="#bloquearusuario"
                    data-id={{u.id}}>
                    Bloquear
                </button> {% endif %}

            </td>




        </tr>
        {% endfor %}

    </tbody>





</table>
{% if usuarios.has_other_pages %}
<ul class="pagination">
  {% if usuarios.has_previous %}
    <li><a href="?page={{ usuarios.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in usuarios.paginator.page_range %}
    {% if usuarios.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if usuarios.has_next %}
    <li><a href="?page={{ usuarios.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

<!-- <nav class="Page navigation example nav-pagination">

    <ul class="pagination">

        {% if listado_turnos.has_previous %}

        <li class="page-item">

            {% if request.GET.dni %}
            <a class="page-link" href="?page={{ listado_turnos.previous_page_number }}&dni={{request.GET.dni}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>

            {% elif request.GET.fecha %}
            <a class="page-link" href="?page={{ listado_turnos.previous_page_number }}&fecha={{request.GET.fecha}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>

            {% else %}


            <a class="page-link" href="?page={{ listado_turnos.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}



        </li>


        {% endif %} {% for page in listado_turnos.paginator.page_range %} {% if current_page == page %} {% if request.GET.dni %}
        <li class="page-item active ">


            <a class="page-link" href="?page={{ page }}&dni={{request.GET.dni}}">{{ page }}</a>


        </li>
        {% elif request.GET.fecha %}
        <li class="page-item active ">


            <a class="page-link" href="?page={{ page }}&fecha={{request.GET.fecha}}">{{ page }}</a>


        </li>
        {% else %}
        <li class="page-item active ">


            <a class="page-link" href="?page={{ page }}">{{ page }}</a>


        </li>
        {% endif %} {% else %} {% if request.GET.dni %}
        <li class="page-item  ">


            <a class="page-link" href="?page={{ page }}&dni={{request.GET.dni}}">{{ page }}</a>


        </li>
        {% elif request.GET.fecha %}
        <li class="page-item  ">


            <a class="page-link" href="?page={{ page }}&fecha={{request.GET.fecha}}">{{ page }}</a>


        </li>
        {% else %}
        <li class="page-item  ">


            <a class="page-link" href="?page={{ page }}">{{ page }}</a>


        </li>
        {% endif %} {% endif %} {% endfor %} {% if listado_turnos.has_next %} {% if request.GET.dni %}

        <li class="page-item">
            <a class="page-link" href="?page={{ listado_turnos.next_page_number }}&dni={{request.GET.dni}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>



        {% elif request.GET.fecha %}
        <li class="page-item">
            <a class="page-link" href="?page={{ listado_turnos.next_page_number }}&fecha={{request.GET.fecha}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ listado_turnos.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %} {% endif %}

    </ul>


</nav>

 -->








<!-- Modal -->
<div class="modal fade" id="bloquearusuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Bloquear usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="text-cancelar">¿Desea bloquear el usuario? </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" id="confirmarBloqueo">Bloquear</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="desbloquearusuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Desbloquear usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="text-cancelar">¿Desea desbloquear el usuario? </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" id="confirmardesbloqueo">Desbloquear</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>



{% endblock content %}