 {% extends 'turnos/base_turnos.html' %} {% block content %}



<table class="table text-center">
    <h3 class="">Lista de turnos </h3>

    <a href="{% url 'registro_turnos' %}" class="btn btn-success ml-auto mb-5">Nuevo Turno</a>

    <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Hora</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>


        <!-- 'pendiente', _('El turno se encuentra pendiente')),
       ('finalizado', _('El turno se encuentra finalizado')),
       ('cancelado', _('El turno se encuentra cancelado')), -->

        {% for t in listado_turnos %}
        <tr scope="row">

            <td>{{t.date}}</td>
            <td>{{t.time}}</td>


            {% if t.status == 'pendiente' %}

            <td>
                <p class=" py-2 bg-warning text-white text-dark">{{t.status}}</p>
            </td>

            {% endif %} {% if t.status == 'cancelado' %}

            <td>
                <p class="bg-danger text-white text-center">{{t.status}}</p>
            </td>

            {% endif %} {% if t.status == 'finalizado' %}

            <td>
                <p class="bg-success text-white text-center">{{t.status}}</p>
            </td>

            {% endif %}







        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}