{% extends 'turnos/base_turnos.html' %} {% block content %}

<div class="row">

    <div class="col-12">
        <h3>Lista de turnos </h3>

        {% if user.is_staff == False %}
        {% if request.user.perfil.bloqueado == False %}
        <a href="{% url 'buscar_turno' %}" class="btn btn-success mt-3">Nuevo turno</a> {% endif %}
        {% endif %}

    </div>

</div>


<div class="row align-center ml-auto mt-5">

    <form action="" method="GET">
        <label for="fecha" class="mx-3"><i class="fas fa-search"></i> Buscar fecha</label>
        <input type="date" onkeydown="return false" placeholder="Seleccione fecha" name="fecha">
        <button type="submit" class="btn-sm btn-success mx-2"> Buscar fecha</button>
    </form>


    {% if user.is_staff %}

    <div class="col-12 my-4">
        <form action="" method="GET">
            <label for="dni" class="mx-3"><i class="fas fa-search"></i> Buscar DNI</label>
            <input type="text" value="" name="dni" id="dni">
            <button type="submit" class="btn-sm btn-success my-3">Buscar DNI</button>
        </form>
    </div>

    {% endif %}

</div>

<table id="example" class="table text-center tabla-turnos mt-5">

    {% if errors %}
    <div class="alert alert-danger my-4" role="alert">
        {{errors}}</div> {% endif %}


    <thead>
        <tr>
            <th scope="col">Día</th>
            <th scope="col">Hora</th>
            <th scope="col">Cancha</th>
            <th scope="col">Estado</th>
            {% if user.is_staff %}
            <th scope="col">DNI</th>
            <th scope="col">Nombre usuario</th>

            {% endif %}
            <th scope="col">Acciones</th>

        </tr>
    </thead>
    <tbody>
        {% if count == 0 %}
        <tr scope="row">

            <td colspan="12">
                <div class="alert alert-warning" role="alert">
                    No hay turnos para mostrar
                </div>
            </td>


        </tr>
        {% endif %} {% for t in listado_turnos %}
        <tr scope="row">

            <td>{{t.date}}</td>
            <td>{{t.time}}</td>
            <td>{{t.cancha}}</td>
            <td>{{t.status}}</td>

            {% if user.is_staff %}
            <td>
                <p class=" text-dark">{{t.usuario.username}}</p>
            </td>

            <td>

                {% if t.usuario.is_staff == False %}
                <p class=" text-dark"> {{t.usuario.first_name}} {{t.usuario.last_name}}</p>
                {% else %}
                <p class=" text-dark"> Admin</p>
                {% endif %}
            </td>
            {% endif %}


            <td>
                {% if t.status == "pendiente" %}
                <button type="button" class="btn-sm btn-danger " data-toggle="modal" data-target="#cancelarTurno" data-hora="{{t.time}}" data-cancha="{{t.cancha}}" data-fecha="{{t.date}}" data-id={{t.id}}>
                
            
                Cancelar
               
            </button> {% endif %}

            </td>

        </tr>
        {% endfor %}

    </tbody>

</table>


<nav class="Page navigation example nav-pagination">

    <ul class="pagination">

        {% if listado_turnos.has_previous %}

        <li class="page-item">

            {% if request.GET.dni %}
            <a class="page-link" href="?page={{ listado_turnos.previous_page_number }}&dni={{request.GET.dni}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>

            {% elif request.GET.fecha %}
            <a class="page-link" href="?page={{ listado_turnos.previous_page_number }}&fecha={{request.GET.fecha}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>

            {% else %}


            <a class="page-link" href="?page={{ listado_turnos.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}



        </li>


        {% endif %} {% for page in listado_turnos.paginator.page_range %} {% if current_page == page %} {% if request.GET.dni %}
        <li class="page-item active ">


            <a class="page-link" href="?page={{ page }}&dni={{request.GET.dni}}">{{ page }}</a>


        </li>
        {% elif request.GET.fecha %}
        <li class="page-item active ">


            <a class="page-link" href="?page={{ page }}&fecha={{request.GET.fecha}}">{{ page }}</a>


        </li>
        {% else %}
        <li class="page-item active ">


            <a class="page-link" href="?page={{ page }}">{{ page }}</a>


        </li>
        {% endif %} {% else %} {% if request.GET.dni %}
        <li class="page-item  ">


            <a class="page-link" href="?page={{ page }}&dni={{request.GET.dni}}">{{ page }}</a>


        </li>
        {% elif request.GET.fecha %}
        <li class="page-item  ">


            <a class="page-link" href="?page={{ page }}&fecha={{request.GET.fecha}}">{{ page }}</a>


        </li>
        {% else %}
        <li class="page-item  ">


            <a class="page-link" href="?page={{ page }}">{{ page }}</a>


        </li>
        {% endif %} {% endif %} {% endfor %} {% if listado_turnos.has_next %} {% if request.GET.dni %}

        <li class="page-item">
            <a class="page-link" href="?page={{ listado_turnos.next_page_number }}&dni={{request.GET.dni}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>



        {% elif request.GET.fecha %}
        <li class="page-item">
            <a class="page-link" href="?page={{ listado_turnos.next_page_number }}&fecha={{request.GET.fecha}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ listado_turnos.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %} {% endif %}

    </ul>


</nav>

<!-- Modal -->
<div class="modal fade" id="cancelarTurno" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cancelar turno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p id="text-cancelar">¿Desea cancelar el turno con los siguientes datos? </p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" id="confirmarCancelar">Cancelar turno</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>

{% endblock content %}