{% extends 'index.html' %} {% load static %}{% block content %}

<div class="acerca_de">
    <h1>Acerca de</h1>   
    JOGO BONITO es un sitio que te permite reservar un cancha de forma rápida y sencilla en nuestro complejo de Av. Sarmiento 2616. Ya no tenés que venir
    o llamarnos para que conseguir un horario.
    A través del buscador por fecha y cancha encontrarás la tuya libre para que puedas disfrutar de ese momento con amigos
    y mostrar toda esa magia.
    Hacé tu reserva y solo presentate a jugar ese dia y hora, sin señas ni adelantos.
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'home' %}">Volver</a> 
</div>
{% endblock %}