{% extends 'turnos/base_turnos.html' %}{% block content %}




<div class="edit-user">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Editar Usuario</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre</label>
                    <input type="text" class="form-control" name="first_name" id="exampleInputPassword1" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Apellido</label>
                    <input type="text" class="form-control" name="last_name" id="exampleInputPassword1" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <a type="password" class="form-control" name="password" id="exampleInputPassword1" href= "/cambiar_contraseña">Cambiar contraseña</a>
                </div>
                

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Editar</button>
            </div>
        </form>
    </div>

</div>








{% endblock content %}