{% extends 'turnos/base_turnos.html' %} {% load crispy_forms_tags %} {% block content %}




<div class="edit-user">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Nueva Noticia</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form method="POST">
            {% csrf_token %}
            <div class="card-body">
                
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="form-label">Título</label>
                    <input type="title" class="form-control" name="title" id="title" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1" class="form-label">Texto</label>
                    <textarea class="form-control" name="body" id="body" rows="5"></textarea>
                  </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>

</div>








{% endblock content %}