{% extends 'index.html' %}{% load crispy_forms_tags %}{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100 p-5">
        <div class="user_card p-5">

            <div class="form-group mb-2">
                <form action="" method="post">

                    {% csrf_token %} {{form.new_password1|as_crispy_field}} {{form.new_password2|as_crispy_field}}
                    <input type="submit" class="btn btn-primary" value="Actualizar Contraseña">
                </form>


            </div>




        </div>
    </div>
</div>



{% endblock content %}