{% extends 'index.html' %} {% load crispy_forms_tags %} {% block body_class %}centered-form{% endblock %} {% block content %}

<div class="container user_card">
    <h1 class="my-4 text-center">Cambio de contraseña</h1>
    <p class="form-title text-center"> ¿Olvidó su contraseña? <br> Ingrese su correo electrónico para restablecerla</p>
    <div class="d-flex justify-content-center form_container mb-2">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="py-3">
                {{form.email|as_crispy_field}}
            </div>
            <input type="submit" class="btn login_btn" value="Enviar email">
        </form>
    </div>
</div>

{% endblock content %}
