{% extends 'index.html' %}{% load crispy_forms_tags %}

{% block body_class %}centered-form{% endblock %}

{% block content %}

<div class="container user_card">
    <div class="d-flex justify-content-center form_container mb-2">
        <form action="" method="post">
            {% csrf_token %} {{form.new_password1|as_crispy_field}} {{form.new_password2|as_crispy_field}}
            <input type="submit" class="btn btn-primary" value="Actualizar Contraseña">
        </form>
    </div>
</div>

{% endblock content %}
