{% extends 'index.html' %} {% load static %}{% block content %}

<div class="acerca_de noticias">
    <h1>¿Quienes somos?</h1>
    <p>JOGO BONITO es un sitio que te permite reservar una cancha de forma rápida y sencilla en nuestro complejo de Av. Sarmiento 2610. Ya no tenés que venir o llamarnos para que conseguir un horario. A través de nuestro buscador por fecha, hora y cancha encontrarás la tuya
    libre para que puedas disfrutar de ese momento con amigos y mostrar toda esa magia. Hacé tu reserva y solo presentate a jugar ese dia y hora, sin señas ni adelantos.
    <br/>
    <br/>
    <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
</div>
{% endblock %}