{% extends 'index.html' %} {% load static %}{% block content %}

<div class="acerca_de noticias">
    <h1>¿Quiénes somos?</h1>
    <p>JOGO BONITO es un sitio que te permite reservar una cancha de forma rápida y sencilla en nuestro complejo de Av. Sarmiento 2610. Ya no tenés que venir o llamarnos para conseguir un horario, a través de nuestro buscador por fecha, hora y cancha encontrarás
        la tuya libre para que puedas disfrutar de un buen momento con amigos y mostrar toda esa magia. Hacé tu reserva y presentate a jugar el día y horario elegidos, sin señas ni adelantos.
        <br/>
        <br/>
        <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
</div>
{% endblock %}