{% extends 'index.html' %}
{% block body_class %}centered-form{% endblock %}

{% block content %}

<div class="container user_card">
    <h1 class="text-center">Registrar Cuenta</h1>

    {% if form.errors %} {% for field in form %} {% for error in field.errors %}
    <div class="alert alert-danger">
        <small>{{ error }}</small>
    </div>
    {% endfor %} {% endfor %} {% endif %}

    <div class="d-flex justify-content-center form_container">
        <form method="POST" action="">
            {% csrf_token %}

            <div class="input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{form.username}}
            </div>

            <div class="input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{form.first_name}}

            </div>

            <div class="input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                {{form.last_name}}
            </div>

            <div class="input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                </div>
                {{form.email}}
            </div>
            <div class="input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{form.password1}} </div>
            <div class="input-group-sm mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{form.password2}}
            </div>

            <div class="d-flex justify-content-center mt-2 login_container">
                <input class="btn login_btn" type="submit" value="Registrar Cuenta">
            </div>
        </form>
    </div>

    <div class="mt-2">
        <div class="d-flex justify-content-center links">
            ¿Ya tiene una cuenta? <a href="{% url 'login' %}" class="ml-2">Ingresar</a>
        </div>
    </div>
</div>

{% endblock content %}
